@import "../../bourbon/bourbon";

$vendors: webkit moz ms o spec;

@mixin font-size($base-font-size) {
    $rem-ratio: $base-font-size / 16px;
    font-size: $base-font-size;
    font-size: #{$rem-ratio}rem;
}
 
@mixin filter($value) {
    @include prefixer(filter, $value, $vendors);
}

@mixin filter2($filter-type, $filter-amount) { 
	@include prefixer(filter, $filter-type+unquote('(#{$filter-amount})'), $vendors);
}

@mixin appearance($value:none) {
    @include prefixer(appearance, $value, $vendors);
}
 
@mixin ellipsis($use: true) {
    @if($use) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
    @else {
        white-space: normal;
        overflow: visible;
        text-overflow: visible;
        -o-text-overflow: visible;
    }
}
 
// none | text | toggle | element | elements | all | inherit
@mixin user-select($value: none) {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    @include prefixer(user-select, $value, $vendors);
}

@mixin abs($dist: 0) {
    position: absolute;
    top: $dist;
    bottom: $dist;
    left: $dist;
    right: $dist;
}

@mixin silver-bullet() {
    @include prefixer(transform, translate3d(0,0,0), $vendors);
    -webkit-backface-visibility: hidden;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin horizontal-align {
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}
 
// use of keyframes mixin
// @include keyframes(bgcolor) {
// 	0% {
// 		background-color: #ffccf2;
// 	}
// 	50% {
// 		background-color: #ccffcc;
// 	}
// 	100% {
// 		background-color: #ccffff;
// 	} 
// }

// @import "vars";
// @import "global";
